@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box;
}

@layer utilities {
    .custom-placeholder::placeholder {
        font-size: 13px;
        color: #4F4F4F;
        font-weight: 500;
    }
    .custom-date::-webkit-calendar-picker-indicator {
        font-size: 17px;
        margin-right: 2px;
    }
}